.main {
    height: 500px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

#again {
    z-index: 5;
}

.moveUp {
    position: relative;
    bottom: 200px;
}