@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
}

#headerRow {
    background: #2b2a28;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.titleCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleCol {
    text-align:center;
}

.headerBackground {
    display: flex;
    justify-content: center;
    align-items: center;
}

#appleLogo {
    max-height: 150px;
}

#start {
    margin-top: 20px;
}

.main {
    height: 500px;
    background: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
    height: 0px;
    max-height: 0px;
}

#question {
    display: flex;
    align-items: center;
    text-align: center;
}

#again {
    z-index: 5;
}

.moveUp {
    position: relative;
    bottom: 200px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    margin-bottom: 5px;
    border-radius: 12px;
    background: #2870c9;
    border-color: #2870c9;
    height: 50px;
    width: 150px;
}

.btn-primary:hover{
    background: #045799;
    border-color: #045799;
}

.btn-secondary {
    border-radius: 12px;
    height: 50px;
    width: 200px;
}

.gifSize {
    max-height: 250px;
}